body{
    background-image: url("imgs/background.jpg");
    background-size: cover;
    
}
.keys{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.key{
    display: flex;
    flex-direction: column;
    border: solid black 4px;
    border-radius: 6px;
    height: 90px;
    width: 80px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 45px;
    padding: 16px 8px;
    transition: all 0.07s;
}
span{
    color: orange;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
.playing{
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.1);
}